input{
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  width: 100vw;
}
.submit{
  background-color: rgb(59, 57, 57);
  color: white;
  width: 150px;
  margin: 15px auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}